{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 15px">
	<h1>Боксы</h1>
    <h2>Прием в эксплуатацию нового бокса</h2>
	<div class="form-group" style="text-align: center">
		<form name="acceptance" role="form" method="post">

            {%  for field in f['NewBoxForm']%}
                {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

		    <button type="submit" class="btn btn-success" name="new_box">Принять</button>

		</form>
	</div>

	<hr>

	<h2>Закрытие бокса</h2>
	<div class="form-group" style="text-align: center">
		<form name="close" role="form" method="post">

            {%  for field in f['CloseBoxForm']%}
			    {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

		    <button type="submit" class="btn btn-success" name="close_box">Закрыть</button>

		</form>
	</div>

	<hr>

	<h2>Увеличить стоимость аренды</h2>
	<div class="form-group" style="text-align: center">
		<form name="close" role="form" method="post">

            {%  for field in f['UpdateBoxForm']%}
			    {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

		    <button type="submit" class="btn btn-success" name="update_box">Изменить</button>

		</form>
	</div>
	<hr id="hr_between">
	<h1>Марки</h1>
    <h2>Добавить марку в перечень</h2>
	<div class="form-group" style="text-align: center">

		<form name="mark_add" role="form" id="mark" method="post">
            {%  for field in f['NewMarkForm']%}
			    {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

		    <button type="submit" class="btn btn-success" name="new_mark">Добавить</button>

		</form>
	</div>

	<hr>

	<h2>Удалить марку</h2>
	<div class="form-group" style="text-align: center">
		<form name="mark_del" role="form" method="post">

            {%  for field in f['DeleteMarkForm']%}
			    {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

		    <button type="submit" class="btn btn-success" name="del_mark">Удалить</button>

		</form>
	</div>
</div>
{% endblock %}
