{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 15px">
	<h2>Справка о клиентах</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_owner" role="form" method="post">
             <div class="form-group">
                <button type="submit" class="btn btn-success" name="get_list_c">Получить список клиентов</button>
             </div>
             <div class="form-group">
                 <table  class="table table-bordered table-hover">
                     <caption>Клиенты</caption>
                     <tr>
                         <th>Фамилия</th> <!-- Фамилия -->
                         <th>Имя</th>
                         <th>Отчество</th>
                     </tr>
                    {% for inf in infs_cwm %}
                     <tr>
                         <td>{{inf[2]}}</td>
                         <td>{{inf[0]}}</td>
                         <td>{{inf[1]}}</td>
                     </tr>
                    {% endfor %}
                 </table>
             </div>
		</form>
	</div>

	<hr>

	<h2>Справка о клиентах с определенной маркой автомобиля</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_mark_owner" role="form" method="post">
             {% for field in f['ClientMarkInfo'] %}
                {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

             <div class="form-group">
                <button type="submit" class="btn btn-success" name="get_list_cwm">Получить список</button>
             </div>
             <div class="form-group">
                 <table  class="table table-bordered table-hover">
                     <caption>Клиенты</caption>
                     <tr>
                         <th>Фамилия</th>
                         <th>Имя</th>
                         <th>Отчество</th>
                     </tr>
                    {% for inf in infs_cwm %}
                     <tr>
                         <td>{{inf[2]}}</td>
                         <td>{{inf[0]}}</td>
                         <td>{{inf[1]}}</td>
                     </tr>
                    {% endfor %}
                 </table>
             </div>
		</form>
	</div>

	<hr>

	<h2>Справка о клиентах, у который срок аренды истекает к указанной дате</h2>
	<div class="form-group" style="text-align: center">
		<form name="ref_owner_date" role="form" method="post">
			{% for field in f['DateEndInfo'] %}
                {{ render_field(field, data_toogle='tooltip') }}
            {% endfor %}

             <div class="form-group">
                <button type="submit" class="btn btn-success" name="get_list_cde">Получить список</button>
             </div>
             <div class="form-group">
                <table  class="table table-bordered table-hover">
                     <caption>Клиенты</caption>
                     <tr>
                         <th>Фамилия</th>
                         <th>Имя</th>
                         <th>Отчество</th>
                     </tr>
                    {% for inf in infs_cwm %}
                     <tr>
                         <td>{{inf[2]}}</td>
                         <td>{{inf[0]}}</td>
                         <td>{{inf[1]}}</td>
                     </tr>
                    {% endfor %}
                 </table>
             </div>
		</form>
	</div>
</div>
{% endblock %}