<html>
<head>
    <title>Car</title>
    <link rel='stylesheet' href='static/bootstrap.min.css' type='text/css' media='all'>
    <link rel='stylesheet' href='static/style.css' type='text/css' media='all'>
    <link rel="icon" type="image/vnd.microsoft.icon" href="static/favicon.ico"/>
</head>
 <body>
    <nav>
		<ul id="ddmenu" class="nav">
		<li class="col-sm-2 "><a href="/" data-toggle="tab">Главная</a></li>
		<li class="col-sm-2"><a href="Box" data-toggle="tab">Боксы</a>
		<li class="col-sm-2"><a href="Service" data-toggle="tab">Услуги</a></li>
		<li class="col-sm-2"><a href="Mark" data-toggle="tab">Марки</a></li>
		<li class="col-sm-2"><a href="Ref" data-toggle="tab">Справки</a></li>
		<li class="col-sm-2"><a href="Login" data-toggle="tab">Вход</a></li>
		</ul>
	</nav>
	<div class="container">
        <div class="tab-content">
            {% block content %}{% endblock %}
        </div>
	</div>
  </body>
</html>
