{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container-fluid" style="padding: 15px;">
	<h1 style="text-align: center;">Добро пожаловать</h1>

	<div>Наша фирма предоставляет услуги предоставления парковки</div>

    <div style="margin-bottom: 15px;">Мы обслуживаем следующие марки:</div>
    <div style="text-align: center;">
    {% for post in posts %}
            <image src="static/brand/{{post}}.png" alt="{{post}}" class="brand_img"></image>
    {% endfor %}
    </div>
</div>
{% endblock %}