{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container-fluid" style="padding: 15px;">
	<h1 style="text-align: center;">Добро пожаловать</h1>

	<p>Наша фирма предоставляет услуги предоставления парковки</p>

    {% for post in posts %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#{{post.brand}}">
            {{post}}
          </button>

    <!-- Modal -->

        <div class="modal fade" id="{{post.brand}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                <h4 class="modal-title" id="myModalLabel">{{post.brand}}</h4>
              </div>
              <div class="modal-body">
                {{post.box}}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    <script>
        $('#myModal').modal(options)
    </script>

{% endblock %}