{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container-fluid" style="padding: 15px;">
	<h1 style="text-align: center;">Добро пожаловать</h1>

	<div>Наша фирма предоставляет услуги предоставления парковки</div>

    <div style="margin-bottom: 15px;">Мы обслуживаем следующие марки:</div>

    {% for post in posts %}
            <div style="display: block;"><u>{{post}}</u></div>

    {% endfor %}

    <script>
        $('#myModal').modal(options)
    </script>

{% endblock %}