{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 15px">
	<h1>Личный кабинет</h1>
    <div class="table-responsive">
                    {% for t in ts %}
                        <button class="btn btn-info" data-toggle="collapse" data-target="#hide-me{{t[0]}}" style="display: block;">Квитанция №{{t[0]}}</button>
                         <div id="hide-me{{t[0]}}" class="collapse">
                             <table  class="table table-bordered table-hover">
                                 <tr>
                                     <td>{{t[0]}}</td>
                                     <td>{{t[1]}}</td>
                                     <td>{{t[2]}}</td>
                                     <td>{{t[3]}}</td>
                                     <td>{{t[4]}}</td>
                                     <td>{{t[5]}}</td>
                                     <td> <button class="btn btn-danger" name="{{t[0]}}">Закрыть</button></td>
                                 </tr>
                             </table>
                         </div>
                    {% endfor %}

    </div>
</div>
{% endblock %}