{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 15px">
    <form name="personal" role="form" method="post">
        <h1>Личный кабинет пользователя {{client[1]}} {{client[0]}}</h1>

           <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#active" aria-controls="active" role="tab" data-toggle="tab">Активные квитанции</a></li>
                <li><a href="#history" aria-controls="history" role="tab" data-toggle="tab">История платежей</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="active">
                    {% for t in tickets_active %}
                        {%include 'ticket.html'%}
                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane" id="history">
                    {% for t in tickets_not_active %}
                        {%include 'ticket.html'%}
                    {% endfor %}
                </div>
            </div>
    </form>

</div>
{% endblock %}