{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 15px">
    <h2>Спарвка о свободных боксах</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_freebox" role="form" method="post">
             <div class="form-group">
             <button type="submit" class="btn btn-success">Получить список свободных боксов</button>
             </div>
             <div class="form-group">
                <label for="list_box"></label>
                <select class="form-control" id="list_box">
                </select>
             </div>
		</form>

	</div>
	<hr>
	<h2>Справка об определенном боксе</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_mark_box" role="form" method="post">
			{{ render_field(form['cod_box'], data_toggle='tooltip') }}

		    <button type="submit" class="btn btn-success">Получить марку</button>

			{{ render_field(form['mark_name'], data_toggle='tooltip') }}

		</form>

	</div>
	<hr>
	<h2>Справка о марках машин</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_mark" role="form" method="post">
             <div class="form-group">
             <button type="submit" class="btn btn-success">Получить список марок</button>
             </div>
             <div class="form-group">
                <label for="list_mark"></label>
                <select class="form-control" id="list_mark">
                </select>
             </div>
		</form>

	</div>
	<hr>
	<h2>Справка о клиентах</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_owner" role="form" method="post">
             <div class="form-group">
             <button type="submit" class="btn btn-success">Получить список клиентов</button>
             </div>
             <div class="form-group">
                <label for="list_owner"></label>
                <select class="form-control" id="list_owner">
                </select>
             </div>
		</form>

	</div>
	<hr>
	<h2>Справка о клиентах с определенной маркой автомобиля</h2>
	<div class="form-group" style="text-align: center">

		<form name="ref_mark_owner" role="form" method="post">
             <div class="form-group">
                <label for="list_mark">Марка</label>
                <select class="form-control" id="list_mark">
                </select>
             </div>
             <div class="form-group">
             <button type="submit" class="btn btn-success">Получить список</button>
             </div>
             <div class="form-group">
                <label for="list_owner">Список клиентов</label>
                <select class="form-control" id="list_owner">
                </select>
             </div>
		</form>
	</div>
	<hr>
	<h2>Справка о клиентах, у который срок аренды истекает к указанной дате</h2>
	<div class="form-group" style="text-align: center">
		<form name="ref_owner_date" role="form" method="post">
			{{ render_field(form['date_end'], data_toggle='tooltip') }}

             <div class="form-group">
             <button type="submit" class="btn btn-success">Получить список</button>
             </div>
             <div class="form-group">
                <label for="list_owner">Список клиентов</label>
                <select class="form-control" id="list_owner">
                </select>
             </div>
		</form>
	</div>
</div>
{% endblock %}