{% block ticket%}
    <h4>Квитанция № {{t[0]}}</h4>
    <p>Получатели платежа: Гаражная фирма "Руль и колеса" ОАО "Сбербанк России" г.Рыбинск</p>
    <p>ИНН: <u>7458690042</u></p>
    <p>Номер счета получателя платежа: <u>202020202020202020</u></p>
    <p>Наименование банка получателя платежа: <u>ОАО "Сбербанк России" г.Рыбинск</u></p>
    <p>БИК: <u>815622024</u></p>
    <p>Номер кор.счета банка получателя платежа: <u>10101010101010101010</u></p>
    <p>Взнос за бокс №: <u>{{t[3]}}</u> за период c <u>{{t[4]}}</u> до <u>{{t[5]}}</u> ({{ t[7] }} дней)</p>
    <p>Сумма платежа: <u>{{ t[2] }}</u> руб.</p>
{% endblock %}